---
layout: archive
title: "Build"
permalink: /build/
author_profile: true
---

<p class="page-description">
  Hardware projects and builds that showcase my hands-on engineering skills.
  From rapid prototyping to custom robot modifications, these projects highlight
  my ability to design, fabricate, and integrate physical systems. Few software projects are also presented.
</p>

{% include base_path %}

{% assign sorted_build = site.build | sort: 'order' %}
{% for post in sorted_build %}
  {% include project-card.html post=post %}
{% endfor %}
