---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<p class="page-description">
  A collection of academic and personal projects spanning computer vision, robotics control,
  and machine learning applications. These projects demonstrate my hands-on experience with
  various technologies and problem-solving approaches.
</p>

{% include base_path %}

{% assign sorted_projects = site.projects | sort: 'order' %}
{% for post in sorted_projects %}
  {% include project-card.html post=post %}
{% endfor %}
