---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p class="page-description">
  A comprehensive list of my peer-reviewed publications. Click on the links to access the full papers / code repositories / websites.
</p>

{% if site.author.googlescholar %}
  <p>You can also find my articles on my <a href="{{site.author.googlescholar}}">Google Scholar</a> profile.</p>
{% endif %}

{% include base_path %}

<div class="publications-list">

{% comment %} Render publications by category if categories are defined {% endcomment %}
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <div class="publication-category">
          <h2>{{ category[1].title }}</h2>
        {% assign title_shown = true %}
      {% endunless %}
      {% include publication-item.html post=post %}
    {% endfor %}
    {% if title_shown %}
        </div>
    {% endif %}
  {% endfor %}
{% else %}
  {% comment %} Render all publications without categories {% endcomment %}
  {% for post in site.publications reversed %}
    {% include publication-item.html post=post %}
  {% endfor %}
{% endif %}

</div>
